.App {
  position: relative;
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  padding-top: 20vh;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-events {
  color: #ffffff;
  display: flex;
  margin-top: 2em;
  justify-content: center;
}

.App-events__eventNameContainer {
  display: flex;
  flex-direction: column;
}

.App-events__eventDateContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

p.event {
  color: #fff;
  font-size: 24px;
}

p.event:nth-child(2) {
  opacity: 0.3;
}

p.event:nth-child(3) {
  opacity: 0.2;
  font-size: 20px;
}

p.event--active {
  font-size: 32px;
  color: #FF5544;
}
