.App {
  text-align: center;
  position: relative;
  background-color: #282c34;
  height: 100vh;
  padding-top: 15vh;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p.event {
  color: #fff;
  font-size: 24px;
}

p.event:nth-child(2) {
  opacity: 0.3;
}

p.event:nth-child(3) {
  opacity: 0.2;
  font-size: 20px;
}

p.event--active {
  font-size: 32px;
  color: #FF5544;
}
